
.directory-wrapper { width:960px; margin:0 auto; padding:20px 0; overflow:hidden; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.button-back { padding:0 3px 3px 270px;}
.directories-column { width:248px; margin:0 20px 0 0; height:300px; overflow:auto; border:1px solid #CCC; float:left;}
.sub-directories-column { width:688px; height:300px; overflow:auto; border:1px solid #CCC; float:left;}
.no-list-style { list-style:none; padding:10px; margin:0;}
.no-list-style > li { display:list-item; line-height:20px; margin:0; padding:3px 0;}
.no-list-style > li a { color:#000; text-decoration:none;}
.no-list-style > li a.selected { color:#ff0000;}
#sub_category > li { padding:0;}
.creation-form { padding:10px 10px 10px 270px; clear:both;}
.field-creation { width:250px; font-family:Arial, Helvetica, sans-serif;}
.category-path { clear:both; padding:5px 0; text-transform:capitalize;}
.hidden { visibility:hidden;}